@media screen and (min-width: 700px) {
  

body {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  height: 100%;
  position: absolute;
}

.contentBrain{
  width: 900px;
  position: absolute;
  margin: 0 auto;
  left: 72%;
  top: 2%;
}
.contentBrain img{
  width: 250px;
}

.contentText{
  font-family: Open Sans;
  width: 900px;
  position: absolute;
  margin: 0 auto;
  color: white;
  left: 38%;
  top: 35%;
  text-align: center;
}

.contentText h1{
  font-size: 50px;
  margin-bottom: 5px;
  text-shadow: 0px 3px 16px rgba(131, 35, 190, 0.329);
}

.contentText2 {
  font-size: 18px;
  position: absolute;
  left: -7%;
}

}



@media screen and (max-width: 438px) {
  body {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
    height: 100%;
    position: absolute;
  }
  
  .contentBrain{
    width: 500px;
    position: absolute;
    margin: 0 auto;
    left: 24%;
    top: 3%;
  }
  .contentBrain img{
    width: 200px;
  }
  
  .contentText{
    font-family: Open Sans;
    width: 500px;
    position: absolute;
    margin: 0 auto;
    color: white;
    left: 22%;
    top: 50%;
  }
  
  .contentText h1{
    font-size: 30px;
    text-shadow: 0px 3px 16px rgba(149, 79, 194, 1);
  }
  
  .contentText li{
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 12px;
  }
  
  .contentText a{
    position: absolute;
    font-family: Open Sans;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 7px 15px;
    background: #00DBFF;
  border-radius: 15px;
  left: 40%;
  bottom: -50%;
  }
}